<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Day11_Session</display-name>
  <servlet>
    <servlet-name>session1</servlet-name>
    <servlet-class>session1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>session2</servlet-name>
    <servlet-class>session2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>buyServlet</servlet-name>
    <servlet-class>session.buyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>removeCartServlet</servlet-name>
    <servlet-class>session.removeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clearCartServlet</servlet-name>
    <servlet-class>session.clearCartServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>session1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>session2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buyServlet</servlet-name>
    <url-pattern>/buyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>removeCartServlet</servlet-name>
    <url-pattern>/removeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clearCartServlet</servlet-name>
    <url-pattern>/clearCartServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>